@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto:wght@300;900&display=swap");

#resultTitle {
  margin: 40px 34px;
  color: #faf7ee;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}
#keyword {
  color: #c7ebd0;
}
.result {
  float: left;
  display: inline;
  width: 50%;
}
.movie-list {
  margin: 20px 20px;
  text-align: center;
  width: 80%;
}

.MuiCircularProgress-colorPrimary {
  color: #c7ebd0 !important;
  margin-left: 150px;
}
.MuiSnackbarContent-root {
  /* text-align: center; */
  margin-left: 30px;
  margin-top: 25px;
  background-color: #f8cb77 !important;
  color: #faf7ee !important;
  font-size: 1.15em !important;
  width: 70px;
  height: 60px;
  white-space: pre-line !important;
}
.MuiSnackbarContent-message {
  margin: auto;
  text-align: center;
}
