@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.tableRow {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
.tableCell {
  border-bottom: none !important;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  color: #faf7ee;
}
.removeButton {
  background-color: #faf7ee !important;
  color: #1e4b3f !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
