@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto:wght@300;900&display=swap");
.searchForm {
  /* margin-bottom: 0px; */
  background: #faf7ee;
  text-align: center;
  height: 325px;
}
#input-title {
  margin-top: 0;
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  color: #1e4b3f;
}
#input-subtitle {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  color: #6b7177;
}
.input {
  width: 30%;
  /* bottom: 2px; */
}
